<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>bolus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/DarkTheme.css}"/>
</head>
<body>
<h1 id="bolus" style="text-align:center">Bolus: insert grams of carbohydrates</h1>
<div style="height:50px"></div>
<div style="text-align:center">
    <input type="text" class="inputBar" disabled>
    <div style="height:10px"></div>
    <div>
        <input type="button" name="" value="7" class="carbsButtons">
        <input type="button" name="" value="8" class="carbsButtons">
        <input type="button" name="" value="9" class="carbsButtons">
    </div>
    <div>
        <input type="button" name="" value="4" class="carbsButtons">
        <input type="button" name="" value="5" class="carbsButtons">
        <input type="button" name="" value="6" class="carbsButtons">
    </div>
    <div>
        <input type="button" name="" value="1" class="carbsButtons">
        <input type="button" name="" value="2" class="carbsButtons">
        <input type="button" name="" value="3" class="carbsButtons">
    </div>
    <div>
        <input type="button" name="" value="⌦" class="carbsButtons">
        <input type="button" name="" value="0" class="carbsButtons">
        <input type="button" name="" value="🗸" class="carbsButtons">
    </div>
</div>
<div>
    <button class="deliverButton" role="button">DELIVER</button>
</div>
</body>
</html>