<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>bolus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/DarkTheme.css}"/>
</head>
<body>
<h1 id="bolus">Bolus</h1>
<div class="container">
    <input type="text" class="result">
    <div style="height:10px"></div>
    <div class="second-row">
        <input type="button" name="" value="7" class="global">
        <input type="button" name="" value="8" class="global">
        <input type="button" name="" value="9" class="global">
    </div>
    <div class="third-row">
        <input type="button" name="" value="4" class="global">
        <input type="button" name="" value="5" class="global">
        <input type="button" name="" value="6" class="global">
    </div>
    <div class="fourth-row">
        <input type="button" name="" value="1" class="global">
        <input type="button" name="" value="2" class="global">
        <input type="button" name="" value="3" class="global">
    </div>
    <div class="conflict">
        <div class="left">
            <input type="button" name="" value="0" class=" big">
            <input type="button" name="" value="." class=" small">
            <input type="button" name="" value="Del" class=" red small white-text top-margin">
            <input type="button" name="" value="🗸" class=" green white-text big top-margin">
        </div>
    </div>
</div>

</body>
</html>